{% extends "base.html" %}
{% block content %}
<div class="bg-slate-50 max-w-screen-lg">
    <h1 class="text-3xl font-bold uppercase">Fan Controller Index Page</h1>
    <p>Index page for the fan controller.</p>
</div>
<div>
<div>
    <form hx-post="/submit">
        <div class="form-group">
            <label>Device</label>
            <select name="device" hx-get="/commands" hx-target="#commands" hx-indicator=".htmx-indicator">
            {% for device in devices %}
                <option value="{{ device }}">{{ device }}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Commands</label>
            <select id="commands" name="command">
            </select>
        </div>

        <div class="mt-8 flex items-center justify-left">
            <div class="pointer-events-auto ml-8 rounded-md bg-indigo-600 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-indigo-500">
                <button class="btn primary">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
</div>


{% endblock content %}